<div class="space-y-2">
  <div class="flex items-center flex-row-reverse">
    <div class="flex-1 bg-white text-black border p-5 rounded-lg relative">

      <button type="button" class="flex absolute top-[-16px] right-3 text-white bg-black font-light rounded-full text-xs px-3 py-1.5 mr-2 mb-2" disabled>
        <%= inline_svg_tag("robot.svg", width: "15", height: "15", class: "mr-1") %>
        Suggestion
      </button>

      <div>
        Let’s start with the absolute bare bones: the pre-Hotwire days of Rails. You would scaffold out a resource-based controller.

        To add a comment to a post, you would have a comments_controller with a new action to render a form.

        You would submit a new comment to comments#create where the comment model would be saved and then we send a redirect back to the post#show route.

        It’s as boring as you can get, but it works and is the foundation upon which RESTful web applications were built.
      </div>

      <div class="absolute right-0 top-1/2 transform translate-x-1/2 rotate-45 w-2 h-2 bg-white border-t border-r"></div>
    </div>
  </div>

  <div class="flex justify-end">
    <button type="button" class="text-black bg-white border font-light rounded-full text-xs px-3 py-1.5 mr-2 mb-2">
      <div class="flex items-center justify-between">
        <%= inline_svg_tag("refresh.svg", class: "mr-2", width: "15px", height: "15px") %>

        Suggest
      </div>
    </button>

    <button type="button" class="text-black bg-white border font-light rounded-full text-xs px-3 py-1.5 mr-2 mb-2">
      <div class="flex items-center justify-between">
        <%= inline_svg_tag("send.svg", class: "mr-2", width: "15px", height: "15px") %>

        Send
      </div>
    </button>
  </div>
</div>
